In [1]:
import yfinance as yf
import pandas as pd

In [3]:
# Download historical data
tickers = ['HDFCBANK.NS', 'SBIN.NS', 'ICICIBANK.NS']
stock_data = yf.download(tickers, start='2022-05-30', end = '2025-05-30', group_by ='ticker')


#Check data for Sbi bank

hdfc_bank_data = stock_data['HDFCBANK.NS']
sbi_data = stock_data['SBIN.NS']
icici_bank_data = stock_data['ICICIBANK.NS']

print(sbi_data.head())

/tmp/ipykernel_17206/284734003.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stock_data = yf.download(tickers, start='2022-05-30', end = '2025-05-30', group_by ='ticker')
[*********************100%***********************]  3 of 3 completed

Price             Open        High         Low       Close    Volume
Date
2022-05-30  447.348550  451.037042  445.551596  448.861786   9365470
2022-05-31  448.294293  450.564131  439.782376  442.714264  15441579
2022-06-01  442.619693  446.402767  439.498668  442.903412   9424008
2022-06-02  441.579356  446.733806  440.870029  444.369385   9370989
2022-06-03  447.584984  449.712964  438.363741  439.309509  11306291

In [7]:
# Specify the file path where the CSV should be saved.

file_path1 = 'hdfc_bank_data.csv'
file_path2 = 'sbi_data.csv'
file_path3 = 'icici_bank_data.csv'

# Save the dataframe to a csv file.
hdfc_bank_data.to_csv(file_path1, index=True)
sbi_data.to_csv(file_path2, index=True)
icici_bank_data.to_csv(file_path3, index=True)

In [9]:
# let's check our data
sbi = pd.read_csv('sbi_data.csv')

In [10]:
sbi.head(50)

          Date        Open        High         Low       Close    Volume
0   2022-05-30  447.348550  451.037042  445.551596  448.861786   9365470
1   2022-05-31  448.294293  450.564131  439.782376  442.714264  15441579
2   2022-06-01  442.619693  446.402767  439.498668  442.903412   9424008
3   2022-06-02  441.579356  446.733806  440.870029  444.369385   9370989
4   2022-06-03  447.584984  449.712964  438.363741  439.309509  11306291
5   2022-06-06  439.025832  440.349903  431.743402  438.552948  10661432
6   2022-06-07  436.803235  440.680892  435.526442  438.269165   7672515
7   2022-06-08  441.295628  449.760239  438.080020  445.740723  17168871
8   2022-06-09  443.518185  445.362417  437.370689  441.626648  12635601
9   2022-06-10  436.945082  438.978479  433.729475  436.803223   8621104
10  2022-06-13  429.378906  429.426183  418.124267  421.670898  13426836
11  2022-06-14  420.867001  424.886517  419.306489  423.798889  11351101
12  2022-06-15  424.602811  430.750307  424.271787  426.872650   9920926
13  2022-06-16  430.466550  432.925554  416.280022  417.651398  10780703
14  2022-06-17  416.138185  423.278727  413.537322  417.083954  14326050
15  2022-06-20  417.556825  419.401085  407.342536  411.125610  12368534
16  2022-06-21  415.665280  430.277415  413.868325  426.305176  13801891
17  2022-06-22  424.413642  426.730787  420.535985  423.373291  11066447
18  2022-06-23  424.650113  431.696101  421.812808  426.919952  12229833
19  2022-06-24  431.081317  435.384581  428.622341  429.615387  10833364
20  2022-06-27  435.006266  439.640526  433.209282  436.188477   9509175
21  2022-06-28  434.013191  440.491712  433.162006  439.073059  13261290
22  2022-06-29  435.053548  437.607135  433.162011  434.202362  11800876
23  2022-06-30  434.107808  443.849214  433.729506  440.633606  16926328
24  2022-07-01  438.221854  443.376275  435.573684  441.532043   9405495
25  2022-07-04  441.532061  448.436160  441.532061  447.774139   9186358
26  2022-07-05  449.381922  453.968906  445.456989  446.544617  12003244
27  2022-07-06  449.381924  454.914676  448.199714  453.921631  12059857
28  2022-07-07  457.751981  461.771497  455.482142  460.352844  11497832
29  2022-07-08  462.480844  463.332030  458.839629  462.055237   9057231
30  2022-07-11  458.697802  464.656133  458.697802  461.724274   7704792
31  2022-07-12  458.697759  464.703395  456.900805  458.650482   7364457
32  2022-07-13  461.298605  465.743728  458.272134  460.116394   8208853
33  2022-07-14  460.211009  462.386266  450.942460  453.354187   9385630
34  2022-07-15  456.380621  458.130299  448.956361  453.117737   6945602
35  2022-07-18  458.272158  464.845261  455.955042  463.710327   9934786
36  2022-07-19  461.535056  471.512903  461.535056  470.945465  11724183
37  2022-07-20  473.830067  482.909451  473.262600  481.017914  19280117
38  2022-07-21  482.152813  485.557614  479.268230  484.280792  13814893
39  2022-07-22  485.604866  491.988804  483.476887  485.841309  14699129
40  2022-07-25  485.557616  490.853897  481.538071  489.718964  10229778
41  2022-07-26  489.624399  492.556258  485.273829  486.314209   8862656
42  2022-07-27  487.354525  501.210057  484.469942  499.554962  15101546
43  2022-07-28  504.283789  508.350582  500.831711  503.574463  12160734
44  2022-07-29  506.033469  507.877729  498.183601  499.696808  11921058
45  2022-08-01  500.358862  505.986196  497.852610  504.803986   8295631
46  2022-08-02  503.054318  515.349309  502.297657  512.701111  16845027
47  2022-08-03  512.511994  516.767952  505.655172  511.518890  24262125
48  2022-08-04  514.167164  514.498160  495.771951  504.331146  18072293
49  2022-08-05  506.506325  513.457758  500.311552  502.250366  21110734

In [11]:
hdfc = pd.read_csv('hdfc_bank_data.csv')

In [12]:
hdfc.head(20)

          Date         Open         High          Low        Close   Volume
0   2022-05-30  1360.510904  1370.399390  1349.127040  1352.117798  6312337
1   2022-05-31  1346.667105  1355.253228  1331.327869  1339.962158  6742694
2   2022-06-01  1331.327831  1351.056519  1330.507834  1345.654053  6045948
3   2022-06-02  1338.322119  1339.045666  1329.977178  1336.247925  5737510
4   2022-06-03  1348.982455  1351.345998  1327.758388  1331.617310  3478622
5   2022-06-06  1327.758322  1338.080888  1312.660269  1329.832397  3086633
6   2022-06-07  1313.962689  1325.828919  1306.341296  1314.541504  5126983
7   2022-06-08  1324.864174  1332.292550  1309.139022  1319.172241  2993294
8   2022-06-09  1314.203851  1333.305558  1309.283750  1329.108887  3655908
9   2022-06-10  1312.129594  1319.702703  1296.211545  1303.447021  4577715
10  2022-06-13  1276.916966  1283.091264  1262.156664  1279.811157  5446286
11  2022-06-14  1265.002649  1279.232421  1258.973084  1265.726196  5935178
12  2022-06-15  1255.741183  1269.392140  1252.605810  1261.336548  5905235
13  2022-06-16  1263.796722  1273.974674  1232.925352  1236.109009  6084596
14  2022-06-17  1230.031093  1253.184619  1226.750986  1244.260864  7361961
15  2022-06-20  1258.683574  1278.267646  1248.505740  1275.518188  7968420
16  2022-06-21  1289.747910  1306.244774  1277.351150  1289.410278  6610342
17  2022-06-22  1285.261980  1289.796166  1276.531124  1283.332520  4079849
18  2022-06-23  1283.573673  1300.456453  1271.996909  1288.059692  7686122
19  2022-06-24  1291.339864  1313.625112  1291.339864  1306.052002  4006716

In [13]:
icici = pd.read_csv('icici_bank_data.csv')

In [14]:
icici.head(20)

          Date        Open        High         Low       Close    Volume
0   2022-05-30  731.906363  735.034389  727.556457  731.661987   7628515
1   2022-05-31  724.330601  739.677428  723.841849  735.914001  20272212
2   2022-06-01  731.173209  738.602218  727.458705  735.718628  10102092
3   2022-06-02  734.154533  734.838798  726.481148  732.883789  10949759
4   2022-06-03  739.139858  739.970712  724.526157  727.556396   8563791
5   2022-06-06  723.548653  734.056824  722.962115  729.951294   9107831
6   2022-06-07  724.330672  726.236817  715.875236  718.710022   9938912
7   2022-06-08  720.029612  724.330654  710.107979  713.089355   9369224
8   2022-06-09  708.690577  717.585842  705.904714  716.266235   7444368
9   2022-06-10  708.446246  711.916374  701.848092  703.803101   7990818
10  2022-06-13  686.452323  686.501186  666.755590  672.522888  16622521
11  2022-06-14  667.048984  679.023412  665.338351  670.079224  13348598
12  2022-06-15  672.034171  680.685060  670.665641  671.789795   9199591
13  2022-06-16  684.253038  684.301901  661.086173  663.236694  13237239
14  2022-06-17  656.149761  677.068376  654.879017  671.398804  16335613
15  2022-06-20  670.567967  672.327463  662.356907  670.519104  10981042
16  2022-06-21  675.015598  692.073060  673.109452  680.440735  13319648
17  2022-06-22  678.632351  683.177769  669.688163  671.154419   6838249
18  2022-06-23  674.673444  690.117999  671.545419  683.422119  14960412
19  2022-06-24  694.907767  699.159886  690.655588  697.400391  10856736